/* Write your CSS here */
* {
  box-sizing: border-box;
}
body {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 300px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}
h1 {
  color: #0b69ff;
}

button {
  background-color: #0b69ff;
  color: #ffffff;
  padding: 15px;
  border: 0 none;
  border-radius: 20px;
}

.number {
  color: #0b69ff;
  font-size: 40px;
  font-weight: 500;
}
p {
  text-align: center;
}
